@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  margin: 0;
  padding: 0;
  background-color: white;
  height: 100vh;
  background-image: url('/image/background/login.png');
  overflow: hidden;
}

/* CENTER */
.container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 400px;
	background: rgb(53, 53, 53);
	border-radius: 10px;
	box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
}

.container h1 {
	font-size: 40px;
	font-weight: bold;
	padding: 20px 0px;
	text-align: center;
	color: white;
}

.container form {
	padding: 40px;
	box-sizing: border-box;
}

.field i {
	color: white;
	position: absolute;
}

.field {
	margin-bottom: 30px;
}

.field input {
	width: 320px;
	font-size: 20px;
	text-align: center;
	color: white;
	background: none;
	outline: none;
	border: none;
}

.btn input {
	margin: -5px 0 20px 5px;
	color: #a6a6a6;
	cursor: pointer;
	border-radius: 20px;

}