*{
  margin: 0;
  padding: 0;
  font-family: "Poppins" , sans-serif;
}

/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
 
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');


/* The side navigation menu */
.sidebar {
  background-color: rgb(19, 19, 19);
  width: 300px;
  min-height:100%;
  position: fixed;
  color: white;
  box-sizing: border-box;
}

/* Logo Heading */

.logo {
  padding: 40px 0px;
  background-color: rgb(31, 31, 31);
}

.logo label {
  font-size: 16px;
  font-weight: bold;
  position: relative;
  left: 40px;
}

.logo img{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: relative;
  left: 20px;
  
}

.logo i[class="bx bx-menu-alt-right bx-sm"] {
  position: relative;
  left: 100px;
  top: 5px;
}

/* Sidebar */

.sidebar input {
  width: 250px;
  height: 40px;
  background: none;
  border: none;
  outline: none;
  border-radius: 10px;
  background-color: rgb(31, 30, 30);
  color: white;
  text-align: center;
}

.sidebar i[class="bx bx-search-alt bx-sm"] {
  position: absolute;
  top: 150px;
}

.sidebar li {
  list-style: none;
  margin: 40px 0px;
}

.sidebar li a {
  color: white;     
  text-decoration: none;
  font-weight: 500;
}

.sidebar i {
  position: relative;
  top: 3px;
}

/* Sidenav Footer */

.sidefoot {
  position: relative;
  top: 360px;
  height: 150px;
  background-color: rgb(31, 31, 31);
}
