*{
  margin: 0;
  padding: 0;
}

/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
 
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');


/* The side navigation menu */
.sidebar {
  background-color: rgb(24, 24, 24);
  width: 300px;
  min-height:100%;
  position: fixed;
  color: white;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}



.logo label {
  font-size: 20px;
  font-weight: bold;
}

.logo img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  
}

.logo i {
  position: relative;
  left: 100px;
}

.sidebar li {
  margin: 40px 0px;
  list-style-type: none;
}

.sidebar li a {
  color: white;     
  text-decoration: none;
  color: grey;
  font-weight: bold;

}

