.inbox {
    position: fixed;
    left: 300px;
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg,#120b24, #231A47);
    color: white;
    overflow-y: auto;
}

.chatfield {
    position: fixed;
    left: 300px ;
    width: 350px;
    height: 100%;
    background-color: #120b24;
    padding: 10px;
}

.chatfield input {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: #30235a;
    text-align: center;
    margin-bottom: 20px;
}

.pagechat {
    width: 100%;
    height: 100px;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    transition: 0.2s;
}

.pagechat:hover {
    background-color: #30235a;
}

.pagechat img {
    width: 80px;
    border-radius: 50%;
}

.pagechat ul li {
    position: relative;
    bottom: 70px;
    left: 60px;
    margin-bottom: 15px;
    list-style: none;
    color: #566084;
}
