* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.main {
    position: absolute;
    left: 300px;
    top: 100px;
    height: 800px;
    width: 1500px;
    background: #6d1515;
    padding: 20px 20px;
    transition: all 0.5s ease;
    color: white;
    box-sizing: border-box;
}
