.navbar {
    position: fixed;
    left: 0px;
    top: 0px;
    height: 100px;
    width: 100%;
    background: linear-gradient(120deg,#120b24, #231A47);
    padding: 30px 30px;
    transition: all 0.5s ease;
    color: white;
    box-sizing: border-box;
}

.navbar ul li {
    display: inline-block;
    margin-left: 50px;
}

/* CONTENT */
.navbar  h1 {
    margin-top: 15px;
}

/* SEARCH */
.search i {
    position: relative;
    left: 40px;
    top: 6px;
}

.search input {
    width: 230px;
    height: 40px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: #30235a;
    text-align: center;
}

/* NOTIFICATION */
.notif {
    position: relative;
    width: 100px;
    height: 40px;
    background: linear-gradient(120deg,#970f97, #231A47);
    top: 7px;
    border-radius: 10px;
    color: white;
}

.notif:hover {
    
}

.notif button{
    width: 100px;
    height: 50px;
    font-size: 30px;
}


.navbar button {
    background: none;
    color: white;
    border: none;
    font-weight: bold;
    font-size: 18px;
}

.navbar i {
 position: relative;
 top: 3px;
}

